*{
    background-color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}


#licenciaConduc{
    display: none;
}

label{
    font-size: 3em;
    color: #F17100;
}

#verificacionSI{
    font-size: 5em;
    color:#1BA70A;
    margin: 0em 0em 0em 2em;
    padding: 0.2em;
}


#verificacionNO{
    font-size: 5em;
    color:#CA0404;
    margin: 0em 0em 0em 4em;
    padding: 0.2em;
}

h1,h2{
    font-size: 3em;
    color: #F17100;
}

input{
    font-size: 3em;
    height: fit-content;
    width: fit-content;
    color: #F17100;
}

h3{
    font-size: 2.8em; 
}